* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    font-size: 16px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(169,169,169) 0%, rgb(105,105,105) 50%, rgb(192,192,192) 100%);
    color: white;
	cursor: url('https://img.icons8.com/bubbles/40/electrified-cursor.png'), default;
}

h1 {
    font-size: 42px;
    margin: 10px 0;
    font-weight: bold;
}

h1 img {
    width: 56px;
    vertical-align: middle;
    border-radius: 10px; 
}

a {
    text-decoration: none;
    color: white;
}

a, i, button {
    cursor: url('https://img.icons8.com/bubbles/40/electrified-cursor.png'), default;
}

main {
    padding-left: 20px;
}

a {
    color: #405B43;
}

a:hover {
    color: black;
}

nav {
    margin-top: 20px;
}

nav a {
    padding: 10px;
    display: inline-block;
    transition: all .5s ease-in-out;
}

nav a:hover {
    transform: scale(1.2);
}

nav a:hover i {
    color: #ff4040;
}

nav a i {
    font-size: 36px;
    color: white;
}

button {
    background-color: rgba(30, 30, 30, 0.2);
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    min-height: 50px;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    min-width: 40%;
}

button span {
    font-size: 16px;
}

button:hover {
    transform: scale(1.1);
    background-color: rgba(30, 30, 30, 0.5);
}

footer {
    padding: 20px;
}